$height-home-screen-donate-section-desktop: 390;
$height-home-screen-donate-section-notebook: 390;
$height-home-screen-donate-section-tablet: 335;
$height-home-screen-donate-section-mobile: 187;


.home-screen-donate {
  background: $home-screen-bg;
  background-size: cover;
  height: $height-home-screen-donate-section-desktop + px;
  text-align: center;
  background-position: center;


  @media screen and (max-width: ($notebook + px)) {
    & {
      height: $height-home-screen-donate-section-notebook + px;
    }
  }

  @media screen and (max-width: ($tablet + px)) {
    & {
      height: $height-home-screen-donate-section-tablet + px;
    }
  }

  @media screen and (max-width: ($mobile + px)) {
    & {
      height: $height-home-screen-donate-section-mobile + px;
    }
  }

}

.donation-information {
  background: $color-orange-gradient-light;
  padding: 40px 0 180px;


  h1 {
    font-size: $font-size-h3 + px;
    font-weight: 400;
    color: $color-white;
    line-height: 1.3;
  }

  p {
    color: $color-white;
    margin: 10px 0 40px;
  }

  h3 {
    color: $color-orange;
    margin: 0 0 60px;
  }

  &__description {
    font-size: $font-size-h4 + px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__row-wrap {
    background: $color-frosted-glass-white;
    padding: 40px 92px 61.98px;

    h2 {
      color: $color-orange;
      text-align: center;
      margin: 0 0 20px;
    }

    p {
      color: $color-black-blue;
      margin: 0;
    }

    .donation-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      margin: 107px 0 48.53px;

      p:first-child {
        font-size: 72px;
        line-height: .8;
        font-weight: 500;
        margin-bottom: 11px;
      }

      p:last-child {
        margin: 0;
      }

      .panda {
        max-width: 268.49px;
        height: auto;
        display: block;
      }
    }

    .donation-wrap .inner-column:nth-child(1) {
      flex: 0 0 200px;
    }

    .donation-wrap .inner-column:nth-child(2) {
      flex: 0 0 70px;
      text-align: left;
    }

    .donation-wrap .inner-column:nth-child(3) {
      flex: 0 0 200px;
    }

    .icon-x {
      font-size: 25px;
    }


  }
}