.testimonials__slider {
  overflow: hidden;
  margin-bottom: 32px;
  position: relative;

  .testimonials-container {
    display: flex;

    .item {
      position: relative;
      margin-bottom: 22px;
      background: $color-gray-light;
      border: 2px solid transparent;
      padding: 13px 13px 19px;
      min-width: 238px;
      cursor: pointer;
      background: linear-gradient($color-gray-light, $color-gray-light) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &__wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }

      .item__header {
        display: flex;

        .avatar {
          margin-right: 10px;
          max-height: 37px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        .header-text {
          display: flex;
          flex-direction: column;

          .name {}

          .info {
            display: flex;
            font-size: 15px;
            font-weight: 300;
            color: #BDBDBD;

            .location,
            .date {
              margin-right: 5px;
              line-height: 1;
            }
          }
        }
      }

      .item__text {
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
        line-height: 1.2;
        color: $color-gray;

        p {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: ($tablet + px)) {
      flex-direction: column;
      max-height: 380px;

      .item {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 15px;
        }

        &__text {
          max-height: 38px;
          overflow: hidden;
        }
      }
    }
  }

  .slider-pagination {
    height: 8px;
    width: 600px;
    margin: 0 auto;
    background: $color-gray-light;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    .pagination {
      height: 6px;
      width: 25%;
      background: $color-orange;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    @media screen and (max-width: ($tablet + px)) {
      & {
        display: none;
      }
    }

  }
}