.testimonials__slider
  .testimonials-container 
    .item 
      .item__header 
        img.avatar(src=require("Img/slider-testimonials/user.png"), alt="avatar")
        .header 
          .name Michael John 
          .info 
            .location Local Austria •
            .date Today
      .item__text  
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love
    .item 
      .item__header 
        img.avatar(src=require("Img/slider-testimonials/user1.jpg"), alt="avatar")
        .header 
          .name Oskar Samborsky 
          .info 
            .location Local Austria •
            .date Yesterday
      .item__text  
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love
    .item 
      .item__header 
        img.avatar(src=require("Img/slider-testimonials/user2.jpg"), alt="avatar")
        .header 
          .name Fredericka Michelin 
          .info 
            .location Local Austria •
            .date Yesterday
      .item__text  
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love
    .item 
      .item__header 
        img.avatar(src=require("Img/slider-testimonials/user3.jpg"), alt="avatar")
        .header 
          .name Mila Riksha
          .info 
            .location Local Austria •
            .date Yesterday
      .item__text  
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
        p The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love

  .slider-pagination
    .pagination


