//- header
header.songbird-header

  .container

    .header-row

      .logo
        a.logo-link(href="#")
          img.logo-img(src=require("../../assets/img/songbird-logo.svg"), alt="songbird logo")
          span.logo-name Songbird

      .score.dispnone
        include Score/score.pug

      .gallery
        a(href="#") Gallery

      .settings
        include Settings/settings.pug
