.songbird-header {

  .header-row {
    display: grid;
    align-items: center;
    grid-template-areas: "logo score gallary settings";
    grid-template-columns: 1fr repeat(3, max-content);
    grid-auto-flow: row dense;
    margin-bottom: 30px;

    @media screen and (max-width: $mobile) {

      grid-template-columns: 1fr 1repeat(2, max-content) 1fr;
      grid-template-areas:
        "logo gallary settings"
        "score score score";
    }

    .logo {
      grid-area: logo;
      max-width: 134px;

      .logo-link {
        display: flex;
        align-items: center;

        .logo-img {
          max-width: 42px;
          margin-right: 10px;
        }

        .logo-name {
          font-weight: 700;
          font-size: 20px;
        }
      }
    }

    .score {
      grid-area: score;
      margin-top: 4px;
      padding: 10px;

      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;


      @media screen and (max-width: $mobile) {
        text-align: center;
        margin-bottom: 0;
      }

    }

    .gallery {
      grid-area: gallary;
      margin-top: 4px;
      padding: 10px;
    }

    .settings {
      grid-area: settings;
      margin-top: 4px;
      // padding: 10px;
    }
  }

}