//- footer
footer.songbirds-footer
  .container

    .footer-row

      .rss-logo
        a(href="/")
          img.rss-logo__icon(src=require("Img/rs_school.svg"))

      .author
        a.author__link(href="http://github.com/predmaxim") Made by @Predmaxim
        img.author__github-icon(src=require("Img/github-icon.svg"))