.settings-block Settings
  .settings-menu.dispnone
    .settings-menu__row
      p.set-dark-theme Dark
      p.set-light-theme.active Light
    .settings-menu__row
      p.set-ru-lang Ru
      p.set-en-lang.active En