// TYPOGRAPHY

$font-roboto: Roboto, sans-serif;

// VIEWPOINTS

$desktop: 1240px;
$notebook: 1024px;
$tablet: 900px;
$mobile: 600px;

// BODY

$desktop-margins: 40px 0;
$notebook-margins: 30px 0;
$tablet-margins: 20px 0;
$mobile-margins: 15px 0;


// HEADER

$desktop-paddings: 0 30px;
$notebook-paddings: 0 20px;
$tablet-paddings: 0 15px;
$mobile-paddings: 0 10px;