.testimonials-popup {
  position: absolute;
  display: flex;
  background: $color-white;
  width: 268px;
  padding: 20px 36px 17px 17px;
  z-index: 11;
  transform: translateY(-999vh);
  -webkit-transform: translateY(-999vh);
  -moz-transform: translateY(-999vh);
  -ms-transform: translateY(-999vh);
  -o-transform: translateY(-999vh);
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;


  .close-popup-btn {
    color: $color-orange;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
    border: none;
    text-decoration: none;

    &:hover {
      color: $color-black;
    }
  }

  .item {
    margin-bottom: 22px;
    background: $color-gray-light;
    border: 2px solid transparent;
    padding: 13px 13px 19px;
    background: linear-gradient($color-gray-light, $color-gray-light) padding-box, linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%) border-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    .item__header {
      display: flex;

      .avatar {
        margin-right: 10px;
        max-height: 37px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      .header-text {
        display: flex;
        flex-direction: column;

        .name {
          color: $color-black;
        }

        .info {
          display: flex;
          font-size: 15px;
          font-weight: 300;
          color: #BDBDBD;

          .location,
          .date {
            margin-right: 5px;
            line-height: 1;
          }
        }
      }
    }

    .item__text {
      font-size: 15px;
      font-weight: 300;
      margin-top: 5px;

      p {
        margin: 0;
        line-height: 1.2;
        color: $color-gray
      }
    }
  }
}