.testimonials-popup
  a.close-popup-btn(href='javascript://')
    i.mdi.mdi-close
  .testimonials-popup__body 
    .item 
      .item__header 
        img.avatar(src="" alt="avatar")
        .header-text 
          .name
          .info 
            .location
            .date
      .item__text