.burger
  a.burger-icon.menu-btn(href='javascript://') 
    i.mdi.mdi-menu
  a.burger-icon.close-btn.opazero(href='javascript://')
    i.mdi.mdi-close
.menu  
  a.menu__item(href='/') About
  a.menu__item(href='javascript://') Map
  a.menu__item(href='javascript://') Zoos
  a.menu__item(href='donate.html') Donate
  a.menu__item(href='javascript://') Contact us
