.burger
  a.burger-icon(href='#') 
    i.mdi.mdi-menu
  a.burger-icon(href='#')
    i.mdi.mdi-close.opazero.dispnone
.menu  
  a.menu__item(href='/') About
  a.menu__item(href='#') Map
  a.menu__item(href='#') Zoos
  a.menu__item(href='donate.html') Donate
  a.menu__item(href='#') Contact us
