.theme-dark {

  // BASE
  --body-bg: #333;
  --body-bg-gradient: #333;
  --font-color: #E5E5E5;
  --link-color: #E5E5E5;
  --h-color: #fff;
  --primary-color: #ED6565;
  --primary-color-dark: #c75454;
  --secondary-color: #937334;

  // HEADER
  --header-bg: transparent;
  --header-font-color: #fff;
  --logo-name-color: var(--header-font-color);

  // SCORE
  --score-bg: var(--secondary-color);
  --score-font-color: #fff;

  // SETTINGS MENU
  --settings-menu-bg: #575757;
  --settings-menu-icon-color: #fff;

  // LAVEL
  --lavel-bg: linear-gradient(92.98deg, #58534A 63.06%, #4A3333 224.17%);

  // PLAYER
  --player-bg-color: linear-gradient(92.98deg, #58534A 63.06%, #4A3333 224.17%);
  --player-play-btn: inherit;
  --player-volume-btn: inherit;
  --player-track-color: #E5E5E5;

  // BIRDS-DESCRIPTION
  --bird-description-bg: linear-gradient(92.98deg, #58534A 63.06%, #4A3333 224.17%);

  // BIRDS-LIST
  --bird-list-bg: transparent;
  --bird-list-hover: #000;

  // NEXT BUTTON
  --next-btn-bg: var(--primary-color);
  --next-btn-bg-hover: var(--primary-color-dark);
  --next-btn-bg-disabled-bg: #3C3A36;
  --next-btn-icon-color: #575757;

  // FOOTER
  --footer-bg: transparent;
  --footer-rs-logo: invert(1);
  --footer-github-logo: invert(1);


  // ==========================
  &,
  .songbird-body {
    background: var(--body-bg-gradient);
    color: var(--font-color);
    height: 100%;
  }

  .songbird-home-h1 {
    color: var(--h-color);
  }

  // BUTTONS

  .songbird-prymary-btn {
    color: #fff;
    background: var(--primary-color);
    border: none;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    box-shadow: 0px 13px 20px 1px rgba(0, 0, 0, 0.1);


    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    &:hover {
      background: var(--primary-color-dark);
      box-shadow: none;
    }
  }

  .songbird-prymary-qrt-btn {
    color: #fff;
    background: var(--primary-color);
    border: none;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    box-shadow: 0px 13px 20px 1px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    &:hover {
      background: var(--primary-color-dark);
      box-shadow: none;
    }
  }

  .next-btn {
    background: var(--next-btn-bg-disabled-bg);
    border: none;
    cursor: pointer;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    &.active {
      background: var(--primary-color);
      box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.25);
      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;

      &:hover {
        background: var(--primary-color-dark);
        box-shadow: none;
      }

      &::after {
        filter: brightness(10);
        -webkit-filter: brightness(10);
      }

    }

    &::after {
      content: url(Img/next-btn-icon.svg);
    }
  }

  // SLIDER

  .slider {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
  }

  // SETTINGS

  .settings-block {

    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &.active {
      background: var(--secondary-color);
    }

    &:hover {
      background: var(--secondary-color);
    }

    .settings-icon {}

    .settings-menu {
      background: #fff;
      box-shadow: var(--player-thumb-shadow);

      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;

      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      .set-dark-theme,
      .set-light-theme,
      .set-ru-lang,
      .set-en-lang {

        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &:hover {
          background: var(--secondary-color);
        }

        &.active {
          background: var(--secondary-color);
        }
      }
    }
  }

  // SCORE

  .score-field {
    background: var(--score-bg);
    color: var(--score-font-color);
    font-weight: 700;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  // LAVEL

  .lavel {
    background: var(--lavel-bg);
    box-shadow: var(--bird-list-hover-shadow);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &__item.active {
      font-weight: 700;
    }

    /* Works on Firefox */
    & {
      scrollbar-width: thin;
      scrollbar-color: var(--secondary-color) #fff;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      // width: 4px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--secondary-color);
      border: none;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  // PLAYER

  .player {

    background: var(--player-bg-color);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;


    .quest-img {

      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

    }

    .quest-name {}


    .player-volume {


      .mute-button {
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
      }

      .sound-volume {}


    }

    .player-row {


      .play-button {

        &:hover {
          box-shadow: none;
        }

        box-shadow: var(--player-thumb-shadow);

        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

      }

      .progress {

        .sound-progress {
          transition: width 1s;
          -webkit-transition: width 1s;
          -moz-transition: width 1s;
          -ms-transition: width 1s;
          -o-transition: width 1s;
        }

        .duration-timer {}
      }
    }

  }

  // BIRDS-DESCRIPTION

  .birds-description {
    background: var(--bird-description-bg);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .birds-description-info {

      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;

      @media screen and (max-width: $tablet) {
        min-height: 400px;
      }

      @media screen and (max-width: $mobile) {
        min-height: 350px;
      }

      &__info-wrap {
        background: var(--bird-description-info-bg);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      &__info-text,
      &__birds-name,
      &__birds-name-lat {
        color: var(--bird-description-info-font-color);
      }

      &__birds-voice-btn {

        box-shadow: var(--player-thumb-shadow);

        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;

        border: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &:hover {
          box-shadow: none;

        }

      }


    }
  }

  // BIRDS-LIST

  .birds-list {

    .birds-list__item {
      transition: .3s;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;

      &:hover,
      &.active {
        box-shadow: var(--bird-list-hover-shadow);

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .birds-item-img {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      .birds-item-badge {}
    }


  }


  // GALLERY

  .gallery {

    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &.active {
      background: var(--secondary-color);
    }

    &:hover {
      background: var(--secondary-color);
    }



  }

  .songbird-gallery {
    .birds-list {

      /* Works on Firefox */
      & {
        scrollbar-width: thin;
        scrollbar-color: var(--secondary-color) #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      /* Works on Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
  }

}