.birds-list

.birds-description
  .birds-description-start
    p.birds-description-start__mess-header Здесь будет информация о выбранной птице
    p.birds-description-start__mess-body Здесь будет информация о выбранной птице

  .birds-description-info.dispnone
    .birds-description-info__birds-name-wrap
      .birds-description-info__birds-name
      .birds-description-info__birds-name-lat
    button.birds-description-info__birds-voice-btn.play

    .birds-description-info__info-wrap
      p.birds-description-info__info-text

button.songbird-prymary-qrt-btn.new-game-btn Start new game