.subscribe-form {

  h4 {
    margin: 0 0 14px;
  }

  form {

    input[type="email"] {
      color: $color-gray-light;
      background: transparent;
      border: 1px solid $color-orange;
      padding: 12px;
      margin-right: 10px;

      &:focus {
        outline: none;
        border-color: $color-green;
      }
    }

    input[type="submit"] {}
  }
}