.subscribe-form {
  margin-left: -88%;
  
  h4 {
    margin: 0 0 14px;
  }

  form {

    input[type="email"] {
      color: $color-gray-light;
      background: transparent;
      border: 1px solid $color-orange;
      padding: 12px;
      margin-right: 10px;
    }

    input[type="submit"] {}
  }
}