form(action="#")
  input.radius-2(type="email" pattern="/^[A-Z0-9._%+-]+@[A-Z0-9-]+.+.[A-Z]{2,4}$/i" placeholder="Enter your email")
  input.button.small.gray-light.radius-5(type="submit" value="Submit") 