.range-wrap {
  width: 100%;


  .range {
    width: 100%;
    margin: 17px 0 50px;

    .range__input-wrap {
      background: #404950;
      padding: 3px 26px 0;
      border-radius: 2px;
      position: relative;

      .yellow-dots {
        display: flex;
        justify-content: space-between;
        bottom: 0;
        z-index: 0;
        margin: 0 8px 0 8px;
        position: absolute;
        left: 26px;
        right: 26px;
        top: 9px;

        .dot {
          width: 10px;
          height: 10px;
          background: red;
          border-radius: 50%;
        }
      }


      input[type="range"] {
        direction: rtl;
        width: 100%;
        margin-bottom: -2px;

        &::-webkit-slider-runnable-track {
          background: #72828E;
          height: 2px;
        }

        &::-moz-range-track {
          background: #72828E;
          height: 2px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          margin-top: -3px;
          background-color: $color-yellow;
          height: 10px;
          width: 10px;
          border: 5px solid $color-black-blue;
          outline: 2px solid $color-orange;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        &::-moz-range-thumb {
          border: none;
          background-color: $color-yellow;
          height: 10px;
          width: 10px;
          border: 8px solid $color-black-blue;
          outline: 2px solid $color-orange;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }

    &__range-values {

      & #range-values {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        margin-right: 26px;

        option {
          color: $color-black-blue;
          font-size: 26px;
          font-weight: 500;
          transition: .3s;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;

          &:hover {
            color: $color-orange;
          }
        }
      }
    }
  }
}

.donation-form {
  text-align: center;
  justify-content: center;

  form {
    input[type="number"] {
      color: $color-gray;
      background: transparent;
      border: 1px solid $color-gray;
      padding: 10px;
      margin-right: 10px;
      width: 231px;

      @media screen and (max-width: ($tablet + px)) {
        width: 143px;
      }

      & {
        -moz-appearance: textfield;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .amount-input {
      margin-bottom: 27px;
      outline: none;

      input[type="number"] {
        padding-right: 25px;
        line-height: 2;
        margin-left: -8px;
      }

      &:after {
        content: '$';
        color: $color-gray;
        margin-left: -25px;
      }

      input:active,
      input:focus-visible {
        outline: none;
        color: $color-green;
        border-color: $color-green;
      }

      input.error {
        color: $color-red;
        border-color: $color-red;
      }

    }

    .radio-btns {
      margin-bottom: 34px;

      #once {
        margin-left: 50px;
      }

      input[type="radio"] {
        margin-right: 10px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: baseline;
        cursor: pointer;
        border: 1px solid $color-orange;
        -webkit-appearance: none;
        border-radius: 50%;

        input:active,
        input:focus-visible {
          outline: none;
          color: $color-green;
          border-color: $color-green;
        }

        input.error {
          color: $color-red;
          border-color: $color-red;
        }

        &:checked {
          background: $color-green;
          border-color: $color-green;
        }
      }
    }

    .button-submit {
      margin-bottom: 30px;

      input[type="submit"] {

        // &:hover {
        //   background: $color-orange-dark;
        // }

      }
    }
  }


}