.inner-row.range-wrap
  .inner-column
    p Amount
    .range
      .range__input-wrap
        datalist#range-values 
          option(value="$5000") 
          option(value="$2000")
          option(value="$1000")
          option(value="$500")
          option(value="$250")
          option(value="$100")
          option(value="$50")
          option(value="$25")
        input(type="range" name="donate-value" min="1" max="8" step="1" list="range-values" required)
      .range__range-values
        span $5000
        span $2000
        span $1000
        span $500
        span $250
        span $100
        span $50
        span $25
.inner-row
  .inner-column.donation-form
    form(action="#")
      .amount-input
        input.radius-2(type="number" name="donate-value" placeholder="Another amount" size="24")
      .radio-btns
        input(type="radio" id="monthly" name="donate-pay" value="Monthly")
        label(for="monthly") Monthly
        input(type="radio" checked id="once" name="donate-pay" value="Once")
        label(for="once" ) Once
      .button-submit
        button.button.big.orange.radius-25(type="submit")
          span Feed a friend now
      p Share with your friends on social networks 