.inner-row.range-wrap
  .inner-column
    p.amount-text Amount
    .range
      .range__input-wrap        
        input#range__range-input(type="range" name="donate-value" min="1" max="8" step="1" list="range-values" value="3")
      .range__range-values
        //- .yellow-dots
        //-   .dot
        //-   .dot
        //-   .dot
        //-   .dot
        //-   .dot
        //-   .dot
        //-   .dot
        //-   .dot
        datalist#range-values 
          option(value="8" label="$5000") 
          option(value="7" label="$2000")
          option(value="6" label="$1000")
          option(value="5" label="$500")
          option(value="4" label="$250")
          option(value="3" label="$100")
          option(value="2" label="$50")
          option(value="1" label="$25")
      //-   span $5000
      //-   span $2000
      //-   span $1000
      //-   span $500
      //-   span $250
      //-   span $100
      //-   span $50
      //-   span $25
.inner-row
  .inner-column.donation-form
    form(action="javascript://")
      .amount-input
        input#amount.radius-2(type="number" name="donate-value" placeholder="Another amount" size="4" min="1" max="9999" required="true")
      .radio-btns
        input(type="radio" id="monthly" name="donate-pay" value="Monthly")
        label(for="monthly") Monthly
        input(type="radio" checked id="once" name="donate-pay" value="Once")
        label(for="once" ) Once
      .button-submit
        button.button.big.orange.uppercase.radius-25(type="submit")
          span Feed a friend now
      p Share with your friends on social networks 