header#home
  .container
    .logo
      a.logo_link(href='/')
        h1.logo__name PetStory online
        img.logo__icon(src=require("Img/bamboo.png"), alt="logo_icon")
    include Blocks/menu/menu.pug
    a.author(href='https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online' target="_blank") Designed by ©



