%headerLinkStyle {
  color: $color-menu-link;
  font-weight: $weight-menu-link;
}

header {
  background: $color-bg-header;
  height: $height-header-desktop + px;
  display: flex;
  position: relative;
  z-index: 1;

  @media screen and (max-width: ($notebook + px)) {
    & {
      height: $height-header-notebook + px;
    }
  }

  @media screen and (max-width: ($tablet + px)) {
    & {
      height: $height-header-tablet + px;
    }
  }

  @media screen and (max-width: ($mobile + px)) {
    & {
      height: $height-header-mobile + px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    width: $max-width + px;

    @media screen and (max-width: ($tablet + px)) {
      & {
        justify-content: space-between;
      }
    }
  }
}

.logo {
  position: relative;
  margin-right: 63px;

  border: 1px solid $color-white;
  padding: 3px 6px;

  h1 {
    font-size: 19px;
    line-height: 1.3;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    width: min-content;
  }

  & a {
    color: $color-menu-link;

    &:hover {
      color: $color-orange;
    }
  }

  &__icon {
    position: absolute;
    top: 45%;
    left: 13%;
  }

  @media screen and (max-width: ($tablet + px)) {
    .logo-desktop {
      display: none;
    }

    .logo-mobile {
      display: block;
    }
  }
}

.author-desktop {
  display: block;
  flex: 1 0 auto;
  @extend %headerLinkStyle;

  @media screen and (max-width: ($tablet + px)) {
    & {
      display: none;
    }
  }
}

.author {
  color: $color-white;
  white-space: nowrap;

  @media screen and (max-width: ($tablet + px)) {
    & {
      display: none;
    }
  }
}