footer {
  background-color: $color-black;
  padding: 41px 0 50px;
  color: $color-white;

  a {
    border: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 36px 0;
    grid-template-areas:
      "logo logo logo form form form"
      "button button button button button button "
      "socials menu menu menu author author";

    .logo {
      grid-area: logo;
      justify-self: start;
      align-self: start;
      border-color: $color-gray;

      p {
        margin: 0;
        font-size: 19px;
        line-height: 1.3;
        text-align: center;
        font-weight: 400;
        text-transform: none;
        width: min-content;
      }
    }

    .subscribe-form {
      grid-area: form;
      justify-self: end;
      align-self: start;
    }

    .footer__button {
      grid-area: button;
      justify-self: start;
      align-self: center;
      margin-bottom: 8px;

      .button {
        display: block;
      }
    }

    .socials {
      grid-area: socials;
      justify-self: start;
      align-self: end;

      &__social {
        display: grid;
        // grid-template-columns: 1fr;
        grid-gap: 10px;
        font-size: 26px;

        .facebook {
          object-fit: cover;
          width: 26px;
          height: 26px;
          object-position: left center;
        }

        .twitter {
          object-fit: cover;
          width: 26px;
          height: 26px;
          object-position: -56px center;
        }

        .instagram {
          object-fit: cover;
          width: 26px;
          height: 26px;
          object-position: -112px center;
        }

        .youtube {
          object-fit: cover;
          width: 26px;
          height: 26px;
          object-position: -168px center;
        }

        .social-icon {
          display: flex;
          align-items: center;

          span {
            font-size: 16px;
            margin-left: 10px;
          }
        }
      }
    }

    .footer__menu {
      grid-area: menu;
      justify-self: center;
      align-self: end;

      .menu__item {
        font-weight: 400;
        white-space: nowrap;
      }

      .menu__item:nth-child(4) {
        display: none;
      }
    }

    .footer__author {
      grid-area: author;
      justify-self: end;
      align-self: end;

      p {
        margin: 10px 0;
        font-weight: 100;
        color: $color-gray;

        &:last-child {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: ($tablet-land + px)) {
      grid-template-areas:
        "logo logo logo logo logo socials"
        "button button button button button socials "
        "menu menu menu author author author";
      grid-gap: 32px 0;

      .subscribe-form {
        display: none;
      }

      .footer__menu {
        justify-self: start;

        .burger {
          display: none;
        }

        .menu {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          position: static;
          top: unset;
          right: unset;
          transform: translateX(0);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -o-transform: translateX(0);
          -ms-transform: translateX(0);

          .menu__item {
            margin-right: clamp(10px, 20%, 37px);
          }

        }

      }

      .socials {
        justify-self: end;
        align-self: start;

        &__social {
          grid-gap: 20px;
        }

        span {
          display: none;
        }
      }

      .footer__button {
        margin-bottom: 35px;
      }


    }

    @media screen and (max-width: (($tablet - 40) + px)) {
      grid-template-areas:
        "logo logo logo logo logo logo"
        "socials socials socials socials socials socials "
        "button button button button button button"
        "author author author author author author"
        "menu menu menu menu menu menu";
      grid-gap: 30px 0;

      .logo {
        width: 100%;

        p {
          width: 100%;
        }

        &__icon {
          display: none;
          top: 1%;
          right: 43%;
          left: unset;
          width: 10px;
        }
      }

      .footer__menu {
        justify-self: center;

        .burger {
          display: none;
        }

        .menu {

          .menu__item {
            margin-right: 0;
          }

        }


      }

      .socials {
        grid-area: socials;
        justify-self: center;
        align-self: center;


        &__social {
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 30px;
        }

        span {
          display: none;
        }

      }

      .footer__button {
        margin-bottom: 0;
        width: 100%;

        .button {
          width: auto;
          padding: 16px;

          span {
            display: block;
            text-align: center;
          }
        }
      }

      .footer__author {

        p {
          margin: 10px 0;
          font-weight: 100;
          color: $color-gray;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin: 0;
          }
        }
      }

    }

    @media screen and (max-width: ($mobile + px)) {

      .logo {

        &__icon {
          display: block;
        }
      }

      .footer__button {
        margin-bottom: 0;
      }



    }
  }

  @media screen and (max-width: ($tablet-land + px)) {
    padding: 13px 0;
  }
}