footer#footer
  .container
    .row-inner
      .column-inner 
        .logo
          a.logo_link(href='/')
            p.logo__name PetStory online
            img.logo__icon(src=require("Img/bamboo.png"), alt="logo_icon")
      .column-inner 
        .subscribe-form
          h4 Subscribe to our news
          include Forms/subscribe-form/subscribe-form.pug
    .row-inner
      .column-inner   
        a.button.orange.big.radius-5.uppercase(href='donate.html')
          span donate for volunteers
    .row-inner
      .column-inner
        .socials 
          .socials__social 
            a.social-icon.mdi.mdi-facebook(href='javascript://')
              span Facebook
            a.social-icon.mdi.mdi-twitter(href='javascript://')
              span Twitter
            a.social-icon.mdi.mdi-instagram(href='javascript://')
              span Instagram
            a.social-icon.mdi.mdi-youtube(href='javascript://')
              span YouTube
      .column-inner 
        include Blocks/menu/menu.pug
      .column-inner 
        .footer__author 
          p Designed by © Predibaylo Maxim
          p ©RSSchool ©2022
