.birds-description
  .birds-description-start
    img.arrow-up(src=require("../../assets/img/arrow-down.svg"))
    p.birds-description-start__mess-header Послушайте плеер и выберите птицу из списка
    p.birds-description-start__mess-body Здесь будет информация о выбранной птице

  .birds-description-info.dispnone
    .birds-description-info__birds-name-wrap
      .birds-description-info__birds-name qwewqeqweqw
      .birds-description-info__birds-name-lat qweqweqwe
    button.birds-description-info__birds-voice-btn.play

    .birds-description-info__info-wrap
      p.birds-description-info__info-text Для ласточек характерно негромкое щебетание. Песни ласточек не смолкают на протяжении всего лета. Исследователи различают у птиц до 6 щебечущих звуков: «вит», «ви-вит», «чивит», «чиривит» и т.п. Ласточки любят петь дуэтом.
